.name {
    font-weight: bold;
}

h {
    font-weight: bold;
}

.big {
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: 'Times New Roman';

}

.headshot {
    border-radius: 5em;

}